<%- include('header') -%>

<div class="end-div mt-5" id="login">
    <div >
        <a class="btn btn-primary ml-5" href="/articles/create">Create</a>
    </div>
    <div class="mr-5" id="login">
        <div >
            <a class="btn btn-success ml-5" href="/articles/logout">Logout</a>
        </div>
    </div>
</div>
<div class="container">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Date</th>
            <th scope="col">View</th>
          </tr>
        </thead>
        <% let count=1 %>
        <% articles.forEach(article => { %>
        <tbody>
          <tr>
            <td><%= count++ %></td>
            <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;"><a href="/articles/<%= article.slug %>"><%= article.title %></a></td>

            <td> <%= article.createdAt.toLocaleDateString() %></td>
            <td>11</td>
            <td><a class="btn btn-warning ml-5" href="/articles/edit/<%= article._id %>">Edit</a></td>
            <td><form action="/articles/<%= article._id %>?_method=DELETE" method="POST" class="d-inline">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form></td>
          </tr>
        </tbody>
        <% }) %>
      </table>
</div>

</body>
</html>